nav{
    background:rgba(0, 0, 0, 0.9);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    position: relative;
    z-index: 99;
}

.logo{
    font-weight:600;
    font-size: 25px;
    color: tomato;

}

.menu-icon{
    display: none;
} 

.menu-icon .FaTimes{
    
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
}

.menu-icon .FaBars{
    
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}

.logo font{
    color: #fff;
}
.menu-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.menu-list.close{
    right: -100%;
    transition: all 0.5s ease-in-out;
}

.menu-list li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    margin-left: 20px;
   
}

.menu-list li a:hover,
.menu-list li a.active{
    background-color: #fff;
    color: black;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.menu-list li:last-child a{
   font-weight:300; 
   background-color: aqua;
   color: black;
   padding: 5px 10px;
   margin-left: 20px;
   transition: all 0.4s ease-in-out;
   border-radius: 5px;
   
   text-transform: capitalize;
}
@media screen and (max-width: 800px){
    .logo{
        font-size:20px;
    }
    .menu-list li a{
        font-size: 14px;
        margin-left: 10px;
    }
}

@media screen and (max-width:600px) {
    .menu-icon{
        display: block;
    }
    .menu-list{
        flex-direction: column;
        width: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        right:0;
        top:64px;
    }
    .menu-list li {
        
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }
    .menu-list li:last-child{
       margin-bottom: 0px; 
    }

    .menu-list li a, .menu-list li:last-child a{
        width: 100px;
        display:block;
        margin: auto;
    }
}


