*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto','sans-serif';
}

.container{
  background-image: url('./images/bg.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container::after{
  background:rgba(0, 0, 0, 0.6);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
 
}

.page-heading{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  position:relative;
  z-index:2;
  
}
.page-heading h1{
  font-size: 100px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0px 20px;
  font-weight:400;
}

@media screen and (max-width:600px){
  .page-heading h1{
    font-size: 50px;
  }
}