/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */
 @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Mulish', sans-serif;
 }

 .navbar{
   background-color: white!important;
  
 }
 .navbar-brand{
   font-size: 1.9rem !important;
   color: cadetblue !important;
 }

 .navbar a{
   font-size: 1.3rem;
   text-transform: capitalize;
   text-shadow: grey;
 }

 .menu-active{
   border-bottom:solid skyblue;
   font-weight: bold;
 }

 .navbar ul a:hover{
   color:skyblue !important;
 }

 @media (max-width:991px) {
   .navbar-brand{
     font-size: 1rem !important;

   }

   .menu-active{
     font-weight: bold  !important;
     border-bottom: none !important;
   }
   
 }
