/* 
*{
    margin:0;
    padding:0;
   
    
    
}
.card {
   
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    
    width: 350px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    
}

input{
    margin: 5px;
    height: 30px;
    width: 220px;
    border: none;
    border-radius: 5px;
   
   
}

input::placeholder{
    text-align: center;
    letter-spacing: 4px;
    font-size: 10px;
    text-transform:uppercase;
    
}
button{
    margin: 5px;
    height: 30px;
    width: 220px;
    text-transform: uppercase;
    letter-spacing: 12px;
}
h1{
    font-size: 30px;
    letter-spacing: 16px;
    font-style: bold;
}
.loginCard{
    margin: 20px;
    width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-left: auto;
    margin-right: auto;
    
}

.loginCard h1{
    display: flex;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 0px;
} */